.app-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3em 10em;
}

.input input,
.select select {
    margin: 0.5em;
    min-width: 15em;
}

.input label,
.select label {
    display: inline-block;
    width: 7em;
}